# --- Core Backend + Auth ---
fastapi==0.110.0
uvicorn==0.27.1
sqlalchemy==2.0.29
psycopg2-binary==2.9.9
python-jose==3.3.0
passlib[bcrypt]==1.7.4
pydantic==2.6.4
pydantic-settings==2.2.1
email-validator==2.1.0.post1
python-multipart
python-dotenv

# --- AutoLabeler ---
torch
torchvision
opencv-python
pillow
ultralytics

# --- Dataset Splitter ---
python-dotenv
loguru

# --- Keypoint Annotation ---
mediapipe
tensorflow
tensorflow-hub
numpy
pandas
requests
scikit-learn
tensorflow

# --- Named-entity recognition ---
spacy
flair
